body {
  background-color: rgb(255, 206, 214);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 50px;
}

h2 {
  color: purple;

}

#dot-map {
  font-weight: 600;
  font-style: oblique;  
  color: rgb(144, 14, 214)
}